# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Large files
trained_model.h5  # Optional: Exclude if you don't want to commit the model
*.h5

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
